#main{
 width: 100%;
 align-items: unset;
 flex-direction: column;
 padding-bottom: 35px;
}

#main #navMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px; 
    background: #EBB77C;   
   }  
/*Estilo do menu */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 15px;
    right: 25px;
}

.hamburguer {
    position: relative;
    display: block;
    background: #1E4351;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: .4s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background:#8f2427;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .4s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

nav input {
    display: none;
}

nav input:checked~label .hamburguer {
    transform: rotate(45deg);
}

nav input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

nav input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.menu {
    cursor: pointer;
    box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
    opacity: .9;
}


/*A ANIMAÇÃO DO MENU ***/

nav input:checked~label .menu {
    box-shadow: 0 0 0 130vw #000, 0 0 0 130vh #000;
}


/*APARECER O MENU AO CLICAR ***/

#menu-hamburguer:checked~ul {
    opacity: 1;
    display: block;
    
}



/*A ANIMAÇÃO E ESTILO DO MENU ***/

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 30px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 2;
    display: none;
}

a {
    color:#EBB77C;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    transition: 1s;
}

li a:hover {
    font-size: 2.2rem;
    color: #8f2427;

}

#imgLogo {
    padding-top: 15px;
}

/*Estilo do menu fim */


h1{ 
    color: #1E4351;
    font-size:1.5rem;
    max-width:90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

#nmEmpresa{
    color: #1E4351;
    font-family: 'Archivo', sans-serif;
    font-size:1.5rem;

}
form{
    display: flex;
    flex-direction: column;  
    margin-left: 10%;  
}
form legend{
    color: #1E4351;
    font-family: 'Archivo', sans-serif;
    font-size:0.9rem;
    margin-top: 15px;
    margin-bottom: 2px;
}

form #dtaAgen{
    border: none;
    padding: 5px 30px;
    border-radius: 10px;
    color: #1E4351;
    font-family: 'Archivo', sans-serif;
    font-size:1.2rem;    -webkit-box-shadow: 13px 13px 15px -16px rgba(0, 0, 0, 0.864);
    -moz-box-shadow: 13px 13px 15px -16px rgba(0,0,0,0.51);
    box-shadow: 13px 13px 15px -16px rgba(0,0,0,0.51); 
}

form #buscData{    
    border: none;
    background-color: #EBB77C;
    border-radius: 10px;
    color: #1E4351;
    font-family: 'Archivo', sans-serif;
    font-size:1.2rem;
    padding: 5px 10px;
    -webkit-box-shadow: 13px 13px 15px -16px rgba(0, 0, 0, 0.864);
    -moz-box-shadow: 13px 13px 15px -16px rgba(0,0,0,0.51);
    box-shadow: 13px 13px 15px -16px rgba(0,0,0,0.51); 

}

#legendaAgenda{
    display: flex;
    color: #1E4351;
    font-family: 'Archivo', sans-serif;
    font-size:0.9rem;
    margin-top: 20px;
    margin-bottom: 2px;
    flex-direction: row;
    margin-left: 10%;
}

.conteiner{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    -webkit-box-shadow: 13px 13px 15px -16px rgba(0, 0, 0, 0.864);
    -moz-box-shadow: 13px 13px 15px -16px rgba(0,0,0,0.51);
    box-shadow: 13px 13px 15px -16px rgba(0,0,0,0.51); 
    color:#3B3B3B;
    font-size:0.9rem;
    padding: 20px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom:  10px;
}

.conteiner .content1, .content2, .content3{
    display: flex;
    flex-direction: column;
}

.conteiner .content1 span, .content2 span, .content3 span{
font-weight: 700;
margin-left: 10px;
margin-right: 10px;
}


@media (min-width: 700px){ /*Adaptando a tela maiores que 700px*/
    h1{ 
        width:80%;
        max-width: 560px;
    }
    .conteiner .content1, .content2, .content3{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
}
@media (min-width: 900px){ /*Adaptando a tela maiores que 900px*/
   

    }
